@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"), url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Light"), url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Medium"),
    url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  margin-top: 30px;
  min-width: 1200px;
  font-family: "Muller", sans-serif;
  background: #f1f1f1;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
  text-indent: 40px;
}

.section-offset {
  padding-top: 35px;
  padding-bottom: 35px;
}

.visually-hidden {
  display: none;
}

.header {
  margin-bottom: 35px;
}

.header-top {
  margin-bottom: 30px;
  align-items: center;
}

.header-logo {
  margin-right: 40px;
}

.header-contacts-link {
  margin-right: auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
}

.home-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #cc9933;
  background-image: url(../img/keyboard_tab.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  padding-left: 30px;
}

.header-nav {
  align-items: center;
  margin: 0;
  padding: 14px 45px;
  background-color: #fff;
  border-radius: 15px;
}

.nav-list-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #666;
}

.nav-list-item:not(:last-child) {
  margin-right: 45px;
}

.nav-list {
  margin-right: auto;
}

.btn {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  padding: 13px 20px;
  color: #cc9933;
  border: 1px solid #cc9933;
  border-radius: 10px;
}

.nav-btn:not(:last-child) {
  margin-right: 40px;
}

/*offers*/
.section-title {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  color: #333;
}

.offers-item {
  width: 573px;
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  padding-left: 45px;
  padding-bottom: 40px;
}

.offers-column-1 {
  display: inline-block;
  margin-right: 24px;
}

.offers-item-1 {
  max-width: 420;
  min-height: 258px;
  margin-bottom: 24px;
  background-image: linear-gradient(90deg,
      rgba(48, 64, 89, 0.84) -2.9%,
      rgba(53, 65, 83, 0) 65.7%),
    url(../img/offers-1.jpg);
  padding-right: 180px;
  padding-top: 40px;
}

.offers-item-2 {
  min-height: 258px;
  margin: 0;
  background-image: linear-gradient(90deg,
      rgba(48, 64, 89, 0.84) -2.9%,
      rgba(53, 65, 83, 0) 65.7%),
    url(../img/offers-2.jpg);
  padding-right: 180px;
  padding-top: 40px;
}

.offers-column-2 {
  display: inline-block;
}

.offers-item-3 {
  min-height: 544.8px;
  margin: 0;
  background-image: url(../img/offers-3.jpg);
  padding-right: 230px;
  padding-top: 212px;
}

.offer-title {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  color: #fff;
  margin-bottom: 15px;
}

.offer-title-3 {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  color: #fff;
  margin-bottom: 15px;
}

.offer-descr {
  font-size: 20px;
  font-weight: 20px;
  line-height: 20px;
  color: #fff;
  margin: 0;
  margin-bottom: 47px;
}

.offer-link-more {
  font-size: 16x;
  line-height: 16px;
  color: #f0bf5f;
  background-image: url(../img/offer-rect.svg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
  padding-right: 15px;
}

/*about*/

.about-descr {
  margin: 0;
  max-width: 888px;
  font-size: 16px;
  line-height: 32px;
  color: #000;
}

/*services*/

.services-list {
  flex-wrap: wrap;
  gap: 24px;
}

.services-item {
  width: 573px;
  min-height: 330px;
  background-color: #fff;
  padding: 190px 126px 35px 45px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 573px 165px;
  border-radius: 15px;
}

.service-item-1 {
  background-image: url(../img/sev-1.jpg);
}

.service-item-2 {
  background-image: url(../img/serv-2.jpg);
}

.service-item-3 {
  background-image: url(../img/serv-3.jpg);
}

.service-item-4 {
  background-image: url(../img/serv-4.jpg);
}

.service-link {
  display: block;
  background-image: url(../img/offer-rect.svg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
}

.service-title {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  color: #cc9933;
}

.service-descr {
  font-size: 16px;
  line-height: 32px;
  color: #000;
  margin: 0;
}

/*advantages*/

.advantages-list {
  flex-wrap: wrap;
  gap: 22px;
}

.advantages-item {
  width: 276px;
  min-height: 276px;
  background-color: #fff;
  background-position: 45px 40px;
  background-repeat: no-repeat;
  background-size: 64px 66px;
  border-radius: 15px;
  padding: 116px 42px 32px 45px;
}

.advantages-item-1 {
  background-image: url(../img/adv-1.svg);
}

.advantages-item-2 {
  background-image: url(../img/adv-2.svg);
}

.advantages-item-3 {
  background-image: url(../img/adv-3.svg);
}

.advantages-item-4 {
  background-image: url(../img/adv-4.svg);
}

.advantages-item-5 {
  background-image: url(../img/adv-5.svg);
}

.advantages-item-6 {
  background-image: url(../img/adv-6.svg);
}

.advantages-item-7 {
  background-image: url(../img/adv-7.svg);
}

.advantages-item-8 {
  background-image: url(../img/adv-8.svg);
}

.advantages-descr {
  font-size: 16px;
  line-height: 32px;
  color: #000;
  margin: 0;
}

/*accomodation*/

.accomodation-list {
  flex-wrap: wrap;
  gap: 24px;
}

.accomodation-item {
  width: 374px;
  min-height: 440px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
}

.accomodation-item-wrapper {
  padding: 32px 45px 45px 45px;
}

.accomodation-descr {
  margin: 0;
  justify-content: space-between;
  margin-bottom: 16px;
}

.item_desc-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.acc-raiting {}

.acc-item-title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 16px;
}

.acc-location {
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 20px;
  color: #999;
}

.accomodation-last-item {
  width: 374px;
  background-image: url(../img/acc.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  overflow: hidden;
  padding: 27px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.acc-link-more {
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  color: #fff;
  padding-right: 15px;
  background-image: url(../img/rect-2.svg);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
}

/*tour*/

.container-tour {
  align-items: center;
  margin: 0;
  padding: 45px;
  background-color: #E9E9E9;
  border-radius: 15px;
}

.form {
  align-items: center;
  margin: 0;
  padding: 30px 28px;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.form-item:not(:last-child) {
  margin-right: 41px;
}

.form-item:nth-last-child(2) {
  margin-right: 50px;
}

.form-item-input {
  min-width: 121px;
  max-width: 121px;

}

.form-item-select {
  min-width: 169px;
  max-width: 121px;
}

.form-item-title {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  margin-bottom: 15px;
  display: inline-block;
}

.form-select {
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  width: 169px;
  appearance: none;
}

.bor-reset {
  border: none;

}

.form-input {
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  max-width: 121px;
  margin-top: 5px;
}


.form-btn {
  width: 108px;
}


/*contacts*/

.contacts-div {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 45px;
  background-color: #FFFFFF;
  border-radius: 15px;
  align-items: stretch;
}

.contacts-list {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 375px;
  margin-right: 52px;
  margin-bottom: 45px;
}


.contacts-item {
  display: flex;
  border-bottom: 1px solid #E9E9E9;
  padding-bottom: 23px;
  width: 100%;

}

.contacts-item:not(:last-child) {
  margin-bottom: 25px;

}

.contacts-title-caption {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  flex: 0 0 145px;

}

.contacts-item-text {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin: 0;
  flex-grow: 1;
  align-items: start;
}

.ccontainer-contacts-img {
  flex: 0 0 643px;
  display: flex;
  align-items: stretch;
}

.contacts-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.contacts-item-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #cc9933;
  flex-grow: 1;
  align-items: start;
}

.container-item-link {
  flex-direction: column;
  margin-bottom: 18px;
}

.contacts-link-descr {
  font-style: normal;
  margin: 0;
  color: #999999;
}

.contacts-btn {
  padding: 27px 30px;
}

/*footer*/

.container-footer {
  background-color: #333333;
  background-image: url(../img/sun.svg);
  background-repeat: no-repeat;
  background-position: 75% 100%;
  border-radius: 15px;
  margin: 0;
  padding: 45px;
  display: flex;
}

.footer-left-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 125px;
  width: 302px;
}

.footer-center-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 125px;
  width: 359px;
}

.footer-item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 30.4px;
  margin: 0;
  font-style: normal;
  text-align: left;
  color: #fff;
}

.footer-item-link {
  color: #cc9933;
  line-height: 24px;
  font-style: normal;
}

.footer-left-item:not(:last-child) {
  margin-bottom: 37px;
}

.footer-center-item:not(:last-child) {
  margin-bottom: 15px;
}

.footer-item-contact {
  flex-direction: column;
}

.footer-right {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 269px;
  align-items: flex-end;
}

.footer-right-list {
  flex-direction: column;
}

.footer-right-item {
  padding: 0;
  margin: 0;
}

.footer-right-item:not(:last-child) {
  margin-bottom: 20px;
}
